<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đổi mật khẩu | Salads News</title>

    <!-- Custom fonts for this template-->
    <link href="/styles/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/styles/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="/styles/style1612760.css">
    <link rel="stylesheet" type="text/css" href="/styles/style1612771.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="/js/check-reenterpass.js" type="text/javascript" defer></script>

</head>

<body>
    <!-- Header -->

    <header class="header">
        <!-- Header Content -->
        <div class="header_nav_container" id="header">
            <div class="header_bar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_bar_content d-flex flex-row align-items-center justify-content-start">
                                <div class="logo_container">
                                    <a href="index.html">
                                        <div class="logo"><span>Salad</span>NEWS</div>
                                        <div class="logo_sub">Trang báo lá cải & tin tức xàm lông hàng đầu Việt Nam
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </header>

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Thay đổi mật khẩu</h1>
                            </div>

                            {{#if errors}}
                            {{#each errors}}
                            <div class="alert alert-danger">{{this}}</div>
                            {{/each}}
                            {{/if}}

                            <form class="user" method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" name="password" id="password"
                                            class="form-control form-control-user" id="exampleInputPassword"
                                            placeholder="Mật khẩu mới" minlength="6" onkeyup="check_pass()" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" name="confirm_password" id="confirm_password"
                                            class="form-control form-control-user" id="exampleRepeatPassword"
                                            placeholder="Nhập lại mật khẩu" onkeyup="check_pass()" required>
                                    </div>
                                </div>
                                <button type="submit" id="submit" class="btn btn-primary btn-user btn-block">Đổi mật
                                    khẩu</button>

                                <hr>
                                <a href="https://github.com/login/oauth/authorize?client_id=c3a5b7c26e6b641237fd&redirect_uri=http://localhost:3000/auth/redirect"
                                    class="
                  btn btn-google btn-user btn-block">
                                    Đăng ký tài khoản bằng Github
                                </a>
                                <a href="#" class="btn btn-facebook btn-user btn-block">
                                    Đăng ký tài khoản Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/auth/register">Đăng kí tài khoản mới</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/auth/login">Bạn đã có một tài khoản? Đăng nhập ngay!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>