    <div class="super">
      <div class="menu-left">
        <div class="menu-item"><a href="./category">Chuyên mục</a></div>
        <div class="menu-item"><a href="./tag">Thẻ</a></div>
        <div class="menu-item"><a href="./post">Bài viết</a></div>
        <div class="menu-item selected"><a href="./user">Người dùng</a></div>
      </div>
      <div class="right">
        <header class="header">
    
          <!-- Header Content -->
          <div class="header_content_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="header_content d-flex flex-row align-items-center justfy-content-start">
                    <div class="logo_container">
                      <a href="#">
                        <div class="logo"><span>Salad</span>News</div>
                        <div class="logo_sub">Innovation & Technology Magazine</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>

<div class="container-main">
  <div class="admin-label">Quản lý người dùng</div>
  <div class="edit">
    <h3 class="divider gradient">Thêm người dùng</h3>

    <div class="add-category">
      <form action="">
        <div class="form-item">
          <label for="name">Tên</label>
          <input id="name" type="text">
        </div>
        <div class="form-item">
          <label for="name">Email</label>
          <input id="name" type="email">
        </div>
        <div class="form-item">
          <label for="parent">Vai trò</label>
          <select name="parent" id="parent" class="parent">
            <option value="-1">Độc giả</option>
            <option value="46">Phóng viên</option>
            <option value="3">Biên tập viên</option>
            <option value="3">Admin</option>
          </select>
        </div>
        <div class="form-item">
          <input class="submit" type="submit" value="Thêm">
        </div>
      </form>
    </div>

    <h3 class="divider gradient">Danh sách nhân viên</h3>

    <div class="categories">
      <div class="details" style="height:260px;overflow:auto;">
        <table>
          <tr>
            <th>&nbsp;</th>
            <th>Tên</th>
            <th>Email</th>
            <th>Vai trò</th>
            <th>Tác vụ</th>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Nguyễn Văn A</td>
            <td>abc@gmail.com</td>
            <td>Admin</td>
            <td>
              <div class="btn btn-primary action" data-toggle="modal" data-target="#staffModal">Chỉnh sửa</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Lê Văn B</td>
            <td>hgfd@gmail.com</td>
            <td>Phóng viên</td>
            <td>
              <div class="btn btn-primary action" data-toggle="modal" data-target="#staffModal">Chỉnh sửa</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Trần Thị C</td>
            <td>fdsa@gmail.com</td>
            <td>Biên tập viên</td>
            <td>
              <div class="btn btn-primary action" data-toggle="modal" data-target="#staffModal">Chỉnh sửa</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Nguyễn Văn A</td>
            <td>abc@gmail.com</td>
            <td>Admin</td>
            <td>
              <div class="btn btn-primary action" data-toggle="modal" data-target="#staffModal">Chỉnh sửa</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Lê Văn B</td>
            <td>hgfd@gmail.com</td>
            <td>Phóng viên</td>
            <td>
              <div class="btn btn-primary action" data-toggle="modal" data-target="#staffModal">Chỉnh sửa</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Trần Thị C</td>
            <td>fdsa@gmail.com</td>
            <td>Biên tập viên</td>
            <td>
              <div class="btn btn-primary action" data-toggle="modal" data-target="#staffModal">Chỉnh sửa</div>
            </td>
          </tr>
        </table>
        <!-- Button modal trigger -->
        <div class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Xóa</div>
      </div>
    </div>

    <h3 class="divider gradient">Chuyên mục của BTV</h3>

    <div class="categories">
      <div class="details">
        <table>
          <tr>
            <th>&nbsp;</th>
            <th>Tên</th>
            <th>Email</th>
            <th>Chuyên mục</th>
            <th>Tác vụ</th>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Nguyễn Văn A</td>
            <td>abc@gmail.com</td>
            <td>Thời sự</td>
            <td>
              <div class="btn btn-primary action" data-toggle="modal" data-target="#editorModal">Chỉnh sửa</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Lê Văn B</td>
            <td>hgfd@gmail.com</td>
            <td>Kinh tế</td>
            <td>
              <div class="btn btn-primary action" data-toggle="modal" data-target="#editorModal">Chỉnh sửa</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Trần Thị C</td>
            <td>fdsa@gmail.com</td>
            <td>Giải trí</td>
            <td>
              <div class="btn btn-primary action" data-toggle="modal" data-target="#editorModal">Chỉnh sửa</div>
            </td>
          </tr>
        </table>
        <!-- Button modal trigger -->
        <div class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Xóa</div>
      </div>
    </div>

    <h3 class="divider gradient">Danh sách độc giả</h3>

    <div class="categories">
      <div class="details" style="height:310px;overflow:auto;">
        <table>
          <tr>
            <th>&nbsp;</th>
            <th>Tên</th>
            <th>Email</th>
            <th>Ngày hết hạn</th>
            <th>Tác vụ</th>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Nguyễn Văn A</td>
            <td>abc@gmail.com</td>
            <td>21/5/2019</td>
            <td>
              <div class="btn action">Gia hạn</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Lê Văn B</td>
            <td>hgfd@gmail.com</td>
            <td>1/5/2019</td>
            <td>
              <div class="btn action">Gia hạn</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Trần Thị C</td>
            <td>fdsa@gmail.com</td>
            <td>13/5/2019</td>
            <td>
              <div class="btn action">Gia hạn</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Nguyễn Văn D</td>
            <td>ytrwe@gmail.com</td>
            <td>1/4/2019</td>
            <td>
              <div class="btn action">Gia hạn</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Trần Kim E</td>
            <td>fdegd@gmail.com</td>
            <td>3/5/2019</td>
            <td>
              <div class="btn action">Gia hạn</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Lê Văn B</td>
            <td>hgfd@gmail.com</td>
            <td>1/5/2019</td>
            <td>
              <div class="btn action">Gia hạn</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Trần Thị C</td>
            <td>fdsa@gmail.com</td>
            <td>13/5/2019</td>
            <td>
              <div class="btn action">Gia hạn</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Nguyễn Văn D</td>
            <td>ytrwe@gmail.com</td>
            <td>1/4/2019</td>
            <td>
              <div class="btn action">Gia hạn</div>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" name="name1"></td>
            <td>Trần Kim E</td>
            <td>fdegd@gmail.com</td>
            <td>3/5/2019</td>
            <td>
              <div class="btn action">Gia hạn</div>
            </td>
          </tr>
        </table>
        <!-- Button modal trigger -->
        <div class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Xóa</div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Xóa</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staffModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin nhân viên</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="">
              <div class="form-item">
                <label for="name">Tên</label>
                <input id="name" type="text">
              </div>
              <div class="form-item">
                <label for="name">Email</label>
                <input id="name" type="email">
              </div>
              <div class="form-item">
                <label for="parent">Vai trò</label>
                <select name="parent" id="parent" class="parent">
                  <option value="-1">Độc giả</option>
                  <option value="46">Phóng viên</option>
                  <option value="3">Biên tập viên</option>
                  <option value="3">Admin</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="">
              <div class="form-item">
                <label for="name">Tên</label>
                <input id="name" type="text">
              </div>
              <div class="form-item">
                <label for="name">Email</label>
                <input id="name" type="email">
              </div>
              <div class="form-item">
                <label for="parent">Chuyên mục</label>
                <select name="parent" id="parent" class="parent">
                  <option value="1">Thời sự</option>
                  <option value="2">Kinh tế</option>
                  <option value="3">Giải trí</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>