<div class="col-3 ">
    <div class="fixed_div">
        <div class="border-bottom">
            <label for="" class="text-label font-weight-bold">PHÂN HỆ PHÓNG VIÊN</label>
        </div>
        <div class="nav flex-column nav-pills border-bottom font-size " id="pills-tab" role="tablist"
            aria-orientation="vertical">
            <a class="nav-link" id="approved-tab" href="approved">Đã được duyệt & chờ xuất bản</a>
            <a class="nav-link" id="published-tab" href="published">Đã xuất bản</a>
            <a class="nav-link active" id="denied-tab" href="denied">Bị từ chối</a>
            <a class="nav-link" id="pending-tab" href="pending">Chưa được duyệt</a>
        </div>
        <div class="font-size">
            <a class="nav-link btn btn-outline-primary" id="text-editor-tab" href="textEditor">Viết
                bài mới</a>
        </div>
    </div>
</div>
<div class="col-9">
    <div class="content" id="Content">
        <div id="denied">
            <div class="posts">
                <!-- Post -->
                <div class="post_item post_h_large">
                    <div class="row post2">

                    </div>
                </div>
                <!-- Post -->
                <div class="post_item post_h_large">
                    <div class="row post2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>