<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gia hạn gói Premium trên Salad News</title>
    <link rel="stylesheet" href="/styles/main_styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/request-premium.css">
</head>

<body>
    <header class="header">
        <!-- Header Content -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justfy-content-start">
                        <div class="logo_container">
                            <a href="/">
                                <div class="logo"><span>Salad</span>News</div>
                                <div class="logo_sub">Trang báo lá cải & tin tức xàm lông hàng đầu Việt Nam</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="label">Gia hạn Premium</div>
    {{#if notices}}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>{{this.notices}}</p>
    </div>
    {{/if}}
    <div class="container-start">
        <div>
            <h3 class="start">Chú trọng chất lượng trong từng bài viết</h3>
            <p class="info">Trở thành thành viên của Salad News với 15.000/tuần và nhận được quyền truy cập không giới
                hạn các bài viết premium, được đầu tư nội dung, hình ảnh chất lượng nhất.</p>
        </div>

        <img src="https://res.cloudinary.com/ctuyen/image/upload/v1560192055/th16-news/medium.png" alt="Salad News"
            style="width:411px;height:470px;">
    </div>
    <hr>
    <div class="payment">
        <div class="section">
            <div class="title">Gói thành viên: 15.000đ/tuần</div>
        </div>
        <div class="section">
            <div class="title">Thanh toán</div>
            <div class="payment-details">
                <div class="col-50">
                    <label for="fname">Chấp nhận các thẻ</label>
                    <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                    </div>
                    <label for="cname">Tên trên thẻ</label>
                    <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                    <label for="ccnum">Số thẻ</label>
                    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                    <label for="expmonth">Tháng hết hạn</label>
                    <input type="text" id="expmonth" name="expmonth" placeholder="September">

                    <div class="row">
                        <div class="col-50">
                            <label for="expyear">Năm hết hạn</label>
                            <input type="text" id="expyear" name="expyear" placeholder="2018">
                        </div>
                        <div class="col-50">
                            <label for="cvv">CVV</label>
                            <input type="text" id="cvv" name="cvv" placeholder="352">
                        </div>
                    </div>
                </div>
                <div class="col-25">
                    <div class="container">
                        <h4>Giỏ hàng
                            <span class="price" style="color:black">
                                <i class="fa fa-shopping-cart"></i>
                                <b>1</b>
                            </span>
                        </h4>
                        <p><a href="#">Gia hạn thành viên (Premium)</a> <span class="price">15.000đ</span></p>
                        <hr>
                        <p>Tổng <span class="price" style="color:black"><b>15.000đ</b></span></p>
                    </div>
                    <form method="POST">
                        <input type="submit" value="Continue to checkout" class="btn">
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>